<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>Dashboard</title>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<header class="row">
  <nav class="col s12 brown darken-3">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">--=Humans VS Zombies=--</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Dashboard</a></li>
        <li><a href="/game/settings">Game Settings</a></li>
        <li><a href="/safe-zone">Safe Zones</a></li>
        <li><a href="/zombie-hq">Zombie HeadQuarters</a></li>
        <li><a href="/food-supply">Food Supply</a></li>
      </ul>
    </div>
  </nav>
</header>


<router-outlet></router-outlet>

</body>
</html>
